@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('/public/images/bg-body.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.hero-section {
  background-image: url('/public/images/bg-home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  position: relative;
}

.hero-section-introduce {
  background-image: url('/public/images/imgi_42_1202.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  position: relative;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}


header {
  max-width: 1100px;
  margin: 0 auto;
}

.footer-section {
  background-image: url('/public/images/Mask-group-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}